header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 105px;
    position: absolute;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
}

*{
    margin: 0px;
    padding: 0px;
}

video{
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
}

.watch{
    width: 520px;
    height: 183px;
    color: white;
    position: absolute;
    top: 600px;
    left: 200px;
}

.watch button{
    width: 130px;
    height: 50px;
    background-color: none;
    border: white solid 1px;
}
.watch1{
    width: 520px;
    height: 183px;
    color: white;
    position: absolute;
    top: 1400px;
    left: 200px;
}

.watch1 button{
     width: 130px;
    height: 50px;
    background-color: none;
    border: white solid 1px;
}

.watch2{
    width: 520px;
    height: 183px;
    color: white;
    position: absolute;
    top: 2100px;
    left: 200px;
}

.watch2 button{
  width: 130px;
    height: 50px;
    background-color: none;
    border: white solid 1px;
}
